<div id="dashboard" class="page-layout simple fullwidth doc-page">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="center start">
            <div class="title">Dashboards</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">
        <!-- SUMMARY -->
        <div class="md-headline mt-8 mb-8">Summary</div>
        <div class="portfolio-summary md-whiteframe-2dp white-bg" layout="column" layout-padding>
            <div class="portfolio-summary-head" layout="row" flex>
                <div flex="25" flex-sm="33" flex-xs="50"></div>
                <div flex="25" flex-sm="33" flex-xs="50" layout="row" layout-align="center center">Latest Change</div>
                <div flex="25" flex-sm="33" layout="row" layout-align="center center" hide-xs>March Gain/Loss</div>
                <div flex="25" layout="row" layout-align="center center" hide-sm hide-xs>2016 Gain/Loss</div>
            </div>
            <div class="portfolio-summary-content" layout="row" flex>
                <div flex="25" flex-sm="33" flex-xs="50" layout="row" layout-align="center center">90,826</div>
                <div flex="25" flex-sm="33" flex-xs="50" class="summary-up" layout="row" layout-align="center center">
                    1,393&nbsp;<i class="icon icon-trending-up s24"></i>&nbsp;1.59%
                </div>
                <div flex="25" flex-sm="33" class="summary-up" layout="row" layout-align="center center" hide-xs>
                    1,092&nbsp;<i class="icon icon-trending-up s24"></i>&nbsp;1.24%
                </div>
                <div flex="25" class="summary-down" layout="row" layout-align="center center" hide-sm hide-xs>
                    3,290&nbsp;<i class="icon icon-trending-down s24"></i>&nbsp;3.57%
                </div>
            </div>
        </div>
        <!-- /SUMMARY -->

        <!-- PORTFOLIOS WIDGET GROUP -->
        <div class="md-headline mt-24 mb-8">Top Portfolios</div>
        <div class="widget-group" layout="row" flex="100" layout-wrap>
            <!-- WIDGETS -->
            <ms-widget ng-repeat="portfolio in vm.portfolios" flippable="true" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">

                <!-- Front -->
                <ms-widget-front class="white-bg">
                    <div class="pl-16 pr-8 pv-16 h-55" layout="row" layout-align="space-between center">
                        <div class="h2"><a ng-href="/portfolio/{{portfolio.id}}/overview">{{portfolio.name}}</a></div>
                    </div>

                    <div class="pt-8 pb-8" layout="column" layout-align="center center">
                        <div class="red-fg font-size-72 line-height-72">
                            <nvd3 options="vm.chartPie" data="portfolio.data"></nvd3>
                        </div>
                    </div>

                    <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
                        <span class="h4 secondary-text text-truncate">6.6 K ( NO CASH )</span>
                        <span class="h4 ml-8">7.00 <i class="icon icon-trending-down s16"></i> 11%</span>
                    </div>
                </ms-widget-front>
                <!-- / Front -->

                <!-- Back -->
                <ms-widget-back class="p-16 white-bg">
                    <div class="flip-to-front">
                        <md-button class="md-icon-button" ng-click="flipWidget()"
                                   aria-label="Flip widget">
                            <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                        </md-button>
                    </div>

                    <div>
                        DETAIL
                    </div>
                </ms-widget-back>
                <!-- / Back -->

            </ms-widget>
            <!-- / WIDGETS -->
        </div>
        <!-- / PORTFOLIOS WIDGET GROUP -->

        <!-- POSITIONS WIDGET GROUP -->
        <div class="md-headline mt-24 mb-8">Top Portfolios Performance</div>
        <div class="top-portfolios-performance md-whiteframe-2dp white-bg" layout="column" layout-padding>
            <nvd3 options="vm.lineChartPortfolio" data="vm.lineChartPortfolioData"></nvd3>
        </div>
        <!-- / POSITIONS WIDGET GROUP -->

        <!-- PORTFOLIO RELATED NEWS -->
        <!-- <div class="md-headline mt-24 mb-8">Portfolio Related News</div>
        <div class="widget-group" layout="row" flex="100" layout-wrap>
           
        </div> -->
        <!-- / PORTFOLIO RELATED NEWS -->
	</div>
    <!-- /CONTENT -->
</div>