#dashboard {
	& {

	}
	& > .header {
		height: 140px;
		min-height: 140px;
		max-height: 140px;
	}
	& > .content {
		& > .portfolio-summary {
			& > div:first-child {
				& {
					border-bottom: 1px solid rgba(0,0,0,0.2);
				}
			}
			& > div:last-child {
				& > div:first-child {
					font-size: 36px;
					font-weight: normal;
				}
				& > div:first-child ~ div {
					& {
						font-size: 24px;
					}
					&.summary-up {
						& { color: green; }
						& > .icon { color: green; }
					}
					&.summary-down {
						& { color: red; }
						& > .icon { color: red; }
					}
				}
			}
		}
		.widget-group {
			
		}
	}
}
