<div id="portfolios" class="page-layout simple fullwidth doc-page">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="center start">
            <div class="title">Portfolios</div>
        </div>

        <!-- ADD PORTFOLIOS BUTTON -->
        <md-button class="add-file-button md-fab md-warn" ng-click="vm.managePortfolioDialog('add')" aria-label="Add Portfolio">
            <md-icon md-font-icon="icon-plus"></md-icon>
            <md-tooltip><span>Add Portfolio</span></md-tooltip>
        </md-button>
        <!-- / ADD PORTFOLIOS BUTTON -->
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">
        <div class="md-headline mb-16">List of Portfolios</div>
        <md-whiteframe ng-repeat="portfolio in vm.portfolios" class="portfolio-item md-whiteframe-1dp mb-10 p-8" layout="row" layout-wrap>
            <div layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">
                <div class="md-title" flex><a ng-href="/portfolio/{{portfolio.id}}">{{portfolio.name}}</a></div>
                <div class="" layout="row" layout-align="start center">
                    <span class="h4 secondary-text text-truncate">6.6 K ( NO CASH )</span>
                    <span class="h4 ml-8">7.00 <i class="icon icon-trending-down s16"></i> 11%</span>
                </div>
            </div>
            <div layout="column" flex="100" flex-gt-xs="50" flex-gt-md="20">
                <div flex><strong>Strategy:&nbsp;</strong>Balanced</div>
                <div flex><strong>Use It As:&nbsp;</strong>Play Portfolio</div>
            </div>
            <div flex="100" flex-gt-sm="60" flex-gt-md="30">
                <nvd3 options="vm.chartBar" data="portfolio.data"></nvd3>
            </div>
            <div layout="row" layout-align-gt-sm="end center" flex="100" flex-gt-sm="40" flex-gt-md="25">
                <md-button class="md-icon-button" aria-label="View" ng-href="/portfolio/{{portfolio.id}}">
                    <md-icon md-font-icon="icon-eye"></md-icon>
                    <md-tooltip><span>View</span></md-tooltip>
                </md-button>
                <md-button class="md-icon-button" aria-label="Edit" ng-click="vm.managePortfolioDialog('edit', portfolio.id, $index)">
                    <md-icon md-font-icon="icon-pencil"></md-icon>
                    <md-tooltip><span>Edit</span></md-tooltip>
                </md-button>
                <md-button class="md-icon-button" aria-label="Copy" ng-click="vm.managePortfolioDialog('clone', portfolio.id, $index)">
                    <md-icon md-font-icon="icon-content-copy"></md-icon>
                    <md-tooltip><span>Copy</span></md-tooltip>
                </md-button>
                <md-button class="md-icon-button" aria-label="Delete" ng-click="vm.removePortfolio(portfolio.id)">
                    <md-icon md-font-icon="icon-delete"></md-icon>
                    <md-tooltip><span>Delete</span></md-tooltip>
                </md-button>
            </div>
        </md-whiteframe>
	</div>
    <!-- /CONTENT -->
</div>