#portfolio-risk {
	& > .header {
		& {
			height: 160px;
			min-height: 160px;
			max-height: 160px;
			position: relative;
		}
		.breadcrumb {
			a {
				color: rgba(0,0,0,0.7);
			}
		}
	}

	& > .content {
	}
}