<div id="portfolio" class="page-layout simple fullwidth doc-page">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="center start">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <a ng-href="/dashboard" title="Dashboard"><md-icon md-font-icon="icon-home" class="s16"></md-icon></a>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <a ng-href="/portfolios"><span class="parent">PORTFOLIOS</span></a>
            </div>
            <div class="title">Portfolio 1</div>
        </div>

        <!-- ADD PORTFOLIOS BUTTON -->
        <md-button class="add-file-button md-fab md-warn" ng-click="vm.managePosition('add')" aria-label="Add Position">
            <md-icon md-font-icon="icon-plus"></md-icon>
            <md-tooltip><span>Add Position</span></md-tooltip>
        </md-button>
        <!-- / ADD PORTFOLIOS BUTTON -->
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">
        
        <!-- POSITIONS -->
        <md-tabs md-selected="selectedIndex" md-border-bottom>
            <md-tab label="Positions">
                <md-content layout-padding layout-wrap>
                    <div ng-repeat="position in vm.positions" id="position-1" class="postion" layout-gt-sm="row">
                        <div class="position-name"><strong>{{position.name}}</strong>&nbsp;({{position.quantity}})</div>
                        <div class="position-symbol">&nbsp;&nbsp;{{position.value}}</div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Performance">
                <md-content layout-padding layout-wrap>
                    Lorem ipsum dolor sit amet, ne quod novum mei
                </md-content>
            </md-tab>
            <md-tab label="Market summary">
                <md-content layout-padding layout-wrap>
                    Lorem ipsum dolor sit amet, ne quod novum mei
                </md-content>
            </md-tab>
        </md-tabs>
        <!-- / POSITIONS -->
	</div>
    <!-- /CONTENT -->
</div>